@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.home {
  display: flex;
  height: 95vh;
  width: 100vw;
  background-image: url("../img/main-background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0; }

section .home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  section .home img {
    width: 250px;
    margin-bottom: 2em; }
  section .home p {
    font-family: "Abel", sans-serif;
    font-size: 3em;
    color: white;
    text-align: center; }

section .about {
  display: flex;
  width: 100vw;
  height: 60vh;
  margin: 3em;
  font-family: "Abel", sans-serif;
  color: #313030;
  background-color: white;
  justify-content: center;
  flex-direction: column; }
  section .about h1 {
    font-size: 2em;
    text-decoration: underline;
    text-align: left; }
  section .about p {
    font-size: 1.35em;
    line-height: 1.5em;
    margin-right: 3em;
    font-family: "Roboto", sans-serif; }

section .about2 {
  display: flex;
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-image: url("../img/about.jpg"); }

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: auto;
  padding: 0 2em;
  font-family: "Abel", sans-serif; }
  .team-card .jay-photo img {
    width: 300px;
    height: 300px; }
  .team-card .steve-photo img {
    width: 300px;
    height: 300px; }
  .team-card h1 {
    font-size: 2em;
    color: #1aa99f;
    text-align: center;
    padding: 1em 0; }

.team-card p {
  color: #313030;
  text-align: justify;
  font-family: "Roboto", sans-serif; }

#contact {
  height: 100vh;
  width: auto; }

.contact {
  display: flex;
  justify-content: center;
  font-family: "Abel", sans-serif;
  color: #313030; }
  .contact input[type="text"] {
    align-items: center;
    background-color: #fff;
    color: #313030;
    width: 50%; }

.work {
  display: flex;
  flex-direction: column; }

.photo1 {
  display: flex;
  background-image: url("../img/project1.jpg");
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin: 1em 0em .5em 0em; }

.photo2 {
  display: flex;
  background-image: url("../img/project2.jpg");
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin: .5em 0em 1em; }

.overlay {
  transition: all 1s ease-in-out;
  display: flex;
  background: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0; }
  .overlay p {
    color: white;
    font-family: "Abel", sans-serif;
    font-size: 2em; }

.photo1:hover .overlay {
  opacity: 1;
  transition: opacity .5s ease-in-out; }

.photo2:hover .overlay {
  opacity: 1;
  transition: opacity .5s ease-in-out; }

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px; }

.tech-detail {
  height: 60vh;
  width: 100vw; }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 12em;
  background-color: #313030;
  justify-content: center;
  align-items: center;
  color: #1aa99f;
  font-family: "Abel", sans-serif; }
  .footer p {
    margin: 1em; }

.social ul {
  display: flex; }
  .social ul li {
    margin: 1em; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #313030; }

ul.topnav li {
  float: left; }

ul.topnav li a {
  display: inline-block;
  color: #1aa99f;
  font-family: "Abel", sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px; }

ul.topnav li a:hover {
  background-color: #555; }

ul.topnav li.icon {
  display: none; }

@media screen and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
@media screen and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }

/*# sourceMappingURL=application.css.map */
