*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin:0;
}

// hero screen

.home {
  display: flex;
  height: 95vh;
  width: 100vw;
  background-image: url("../img/main-background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
}

section .home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      img {
        width: 250px;
        margin-bottom: 2em;
      }
      p {
        font-family: $main-font;
        font-size: 3em;
        color: white;
        text-align: center;
      }
  }

  // about

  section .about {
  display: flex;
  // max-width: 800px;
  // width: 100vw;
  margin: 3em;
  font-family: $main-font;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    h1 {
      font-size: 2em;
      text-align: left;
    }
    p {
      font-size: 1.35em;
      line-height: 1.5em;
      // margin-right: 3em;
      font-family: $main-font;
      color: $copy-color;
      text-align: justify;
      max-width: 800px;
    }
}

section .about2 {
  display: flex;
  width: 100vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-image: url('../img/about.jpg');
}

// services

section .services {
  display: flex;
  // width: 100vw;
  margin: 3em;
  flex-direction: column;
  h1 {
    font-family: $main-font;
    font-size: 2em;
    text-align: left;
  }
  p {
    font-size: 1.35em;
    line-height: 1.5em;
    // margin-right: 3em;
    font-family: $main-font;
    color: $copy-color;
    text-align: justify;
  }
}

.service-icon {
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
  align-items: center;
  img {
    align-self: center;
    justify-content: center;
    margin: 1em 0;
    // p {
    //   font-size: 1.35em;
    //   line-height: 1.5em;
    //   font-family: $main-font;
    //   color: $copy-color;
    // }
  }
}

// team page


.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 3em 2em;
  font-family: $main-font;
  .jay-photo img {
    width: 300px;
    height: 300px;
  }
  .steve-photo img {
    width: 300px;
    height: 300px;
  }
  h1 {
    font-size: 2em;
    color: $jiva-blue;
    text-align: center;
    padding: 1em 0;
  }
}

.team-card p {
  color: $copy-color;
  text-align: justify;
  font-family: $main-font;
}

.team-content ul {
  display: flex;
  li {
    padding: 1em 1em 0 0;
  }
}

@media screen and (min-width: 641px) {
  .team-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // max-width: 900px;
    // align-items: center;
    .team-content{
      margin-left: 3em;
      align-self: flex-end;
    }
  }

  .team-content p {
    font-size: 1em;
    line-height: 1.5em;
    max-width: 500px;
  }

  .team-content h1 {
    text-align: left;
  }
}

// contact

section .contact-info {
  display: flex;
  margin: 3em;
  flex-direction: column;
  h1 {
    font-family: $main-font;
    font-size: 2em;
    text-align: left;
  }
  p {
    font-size: 1.35em;
    line-height: 1.5em;
    font-family: $main-font;
    color: $copy-color;
  }
}

.contact-detail {
  display: flex;
  margin: 2em 0;
  flex-direction: column;
  align-items: center;
  img {
    align-self: center;
    justify-content: center;
    margin: 1em 0;
  }
  a {
    color: $copy-color;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }
}

// work

.work {
  display: flex;
  flex-direction: column;
}

// .photo1 {
//   display: flex;
//   background-image: url('../img/project1.jpg');
//   height: 100vh;
//   width: 100vw;
//   background-size: cover;
//   background-position: center;
//   margin: 0;
// }
.photo1 {
  display: flex;
  background-image: url('../img/project1.jpg');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;;
  justify-content: center;
  align-items: center;
  margin: 1em 0em .5em 0em;
}

.photo2 {
  display: flex;
  background-image: url('../img/project2.jpg');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin: .5em 0em 1em;
}

.overlay {
  transition: all 1s ease-in-out;
  display:flex;
  background: rgba(0, 0, 0, .75);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  p {
    color: white;
    font-family: $main-font;
    font-size: 2em;
  }
}

.photo1:hover .overlay {
  opacity:1;
  transition: opacity .5s ease-in-out;
}

.photo2:hover .overlay {
  opacity:1;
  transition: opacity .5s ease-in-out;
}

// tech



.carousel-cell {
  width: 100%;
  height: 50vh;
  margin-right: 10px;
  img {
    height: auto;
    width: 100vw;
  }
}

.tech-detail {
  display: flex;
  margin: 3em;
  font-family: $main-font;
  background-color: white;
  justify-content: center;
  flex-direction: column;
    h1 {
      font-size: 2em;
      text-align: left;
    }
    p {
      font-size: 1.35em;
      line-height: 1.5em;
      font-family: $main-font;
      color: $copy-color;
      text-align: justify;
    }
  }
